vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jan 2010 16:46:28 -0000
vti_author:SR|June-ASUS\\Jessica
vti_modifiedby:SR|June-ASUS\\Jessica
vti_nexttolasttimemodified:TR|11 Jan 2010 16:46:28 -0000
vti_timecreated:TR|15 Dec 2013 05:00:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\jessica\\desktop\\school\\comc1741 - web design w expression\\jscherer 3f1/c\:/users/jessica/desktop/school/comc1741 - web design w expression/jscherer 3f1:TR|11 Jan 2010 16:46:28 -0000
vti_cacheddtm:TX|15 Dec 2013 05:00:47 -0000
vti_filesize:IR|1034
vti_cachedlinkinfo:VX|S|juice_background.gif
vti_cachedsvcrellinks:VX|FSUS|juice_background.gif
vti_backlinkinfo:VX|directions.html menu.html recipes.html franchise.html default.html juice_template.dwt
